<div class="container">
    <div id="error-container">
        <h1 style="text-align: center;">Error: 404</h1>
        <div id="id-message">
            {{err_message}}
        </div>
        <div id="error-gif"></div>
    </div>
</div>