{{!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="../js/srcHome.js"></script>
</head> --}}

{{!-- <body class="backgroundC">
    <div class="grid-container"> --}}

{{!-- <header class="site-header">
    <nav>
        <ul class="navbar">
            <li class="logo"><a href="/">Eddy's Imgur Thingy</a></li>
            <li class="rightnav"><a href="/postimage">Post Image</a></li>
            <li class="rightnav"><a href="/registration">Sign In</a></li>
            <div id="count"></div>
        </ul>
    </nav>
</header> --}}


<div class="container imageGrid" id="cardContainer"></div>


{{!-- </div>

</body>

</html> --}}